<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9.2" targetFramework="net48" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.2" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net48" version="1.0.2" targetFramework="net48" developmentDependency="true" />
  <package id="PlayniteSDK" version="6.9.0" targetFramework="net48" />
</packages>